.contact i {
  font-size: 30px;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
  color: #124E66;
  position: relative;
  top: 35px;
}

.contact {
  width: 700px;
  max-width: 90%;
  margin: 20px auto 40px auto;
  position: relative;
}

a {
  display: block;
  text-decoration: none;
  margin: 45px auto 10px auto;
  color: #3f8cab;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  opacity: 0;
  transform: translateX(-100%);
  animation: slideIn 1s ease-out forwards;
  animation-delay: 0.2s;
}

a:hover {
  font-size: 30px;
}

#icon {
  display: block;
  margin: 10px auto;
  position: relative;
}

.contact-container {
  box-sizing: border-box;
  border: 1px solid #124E66;
  width: 50%;
  margin: auto;
  border-radius: 20px;
  box-shadow: 2px 2px 20px #124E66;
  margin-top: -10px;
  cursor: pointer;
  padding: 20px;
}

h1 span {
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-top: -10px;
}

/* Tablet view */
@media (max-width: 768px) {
  .contact {
    width: 90%;
    left: 0;
    margin: 20px auto;
  }

  .contact-container {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  h1 span {
    margin: 0 auto 70px auto;
    padding-bottom: 20px;
    color: #124E66;
  }

  a {
    font-size: 20px;
  }
}

/* Mobile view */
@media (max-width: 480px) {
  .contact-container {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  a {
    font-size: 0.8rem;
  }

  h1 span {
    font-size: 16px;
    margin: 0 auto 70px auto;
    padding-bottom: 20px;
    color: #124E66;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
