.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: #124E66;
  background-color: #eff6fa;
  border-radius: 5px;
  flex-wrap: wrap;
  position: relative;
}

.logo {
  height: 50px;
  width: 100px;
  border-radius: 10px;
}

.options ul {
  display: flex;
  margin-left: auto;
  padding: 0;
}

.options li {
  list-style: none;
  font-size: 18px;
  font-weight: 550;
  margin-left: 20px;
  text-align: center;
  cursor: pointer;
}

.options li:hover {
  font-size: 20px;
  font-weight: 560;
  color: rgba(1, 1, 47, 0.693);
}

/* Hamburger Icon */
.menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
  color: #124E66;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .options {
    width: 100%;
    display: none;
  }

  .options.open {
    display: block;
  }

  .options ul {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }

  .options li {
    margin: 10px 0;
  }
}
